:root {
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.5;

  --foreground: rgb(69,69,69);
  --background: white;

  color: var(--foreground);
  background-color: var(--background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: white;
    --background: rgb(30, 30, 30);
  }
}

body {
  min-height: 98vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2rem;
  overflow-x: hidden;
}

main {
  height: 100%;
  width: 100%;
  max-width: 900px;
}

h1, h2 {
  font-weight: 100;
  line-height: 4rem;
}


a {
  color: var(--foreground);
  text-decoration: none;
  width: auto;
  margin: 10px 0px;
  z-index: 9999;
}

a:hover {
  color: rgb(111, 111, 251);
  text-decoration: underline;
}

a:focus {
  color: rgb(111, 111, 251);
  outline: 2px solid rgb(111, 251, 144);
  outline-offset: 5px;
  background-color: azure;
  mix-blend-mode: normal;
}

img {
  width: 100%;
}
img::selection {
  background-color: transparent;
}

footer {
  font-size: 1rem;
  z-index: 9999;
}
